body {
    justify-content: space-between;
}

.center-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 0; 
    justify-content: space-evenly;
}

.content {
    height: 450px;
    display: flex;
    flex-direction:column;
    align-items: center;
}

div strong {
    color: rgb(0, 0, 0);
    font-size: 25px;
}

.login-button {
    margin: 10px 10% 0 25%;
    background-color: rgb(44, 44, 111);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.login-button:hover {
    background-color: orange;
}

.login-button~a {
    color: crimson;
}

.content p {
    margin: 25px 0 0 0;
}

p::first-line {
    font-size:x-large;
}
  
